.dev {
    height: 70px;
    width: 85%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    font-family: var(--font2);
}

.grupo_contato {
    height: 100%;
    width: 70%;

    display: flex;

}

.contato_dev {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.grupo_contato img {
    height: 100%;
    border-radius: 50%;
    margin-right: 40px;
}

.grupo_contato h2 {
    font-size: 24px;
    font-family: var(--font2);
    text-transform: capitalize;
}

.grupo_contato p {
    font-size: 14px;
}

.techs {
    width: 180px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.techs span {
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 20px;
    background-color: white;
    color: var(--azulP);
}