#main_listaservicos h2 {
    font-family: var(--font1);
    font-size: 30px;
    text-transform: uppercase;
}

.botao {
    font-family: var(--font1);
    color: var(--branco);
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    border-radius: 30%;
    box-shadow: 15px 15px 30px #00000066;
}

/* MAIN */
#main_listaservicos {
    background-image:
        linear-gradient(180deg, #060821 0%, #06082120 25%, #0608218f 80%, #060821 100%),
        url("../../assets/images/background_login.png");
    min-height: calc(100vh - 339px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container_lista_servicos {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px 0;
}

.lista_servicos_conteudo {
    width: 100%;
    max-width: 900px;
    
    padding: 50px 0;
    margin-top: 6vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: linear-gradient(114.61deg, #ffffff0d 1.08%, #ffffff1e 99.26%);
    box-shadow: 30px 30px 60px #00000080;
    border: 1px solid #ffffffcc;
    border-radius: 80px;
    backdrop-filter: blur(10px);
    color: var(--branco);
}

#main_listaservicos h1 {
    font-family: var(--font1);
    font-size: 50px;
    text-align: center;
}

#main_listaservicos hr {
    margin: 20px auto;
    width: 80%;
    height: 4px;
    background-color: var(--rosa);
    border: none;
    border-radius: 50%;
}

.lista_servicos_conteudo form {
    width: 85%;
    padding: 20px 0;
}

.wrapper_lista {
    width: 85%;
}

.wrapper_form {
    height: 95px;
    width: 85%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.wrapper_form label {
    font-family: var(--font2);
    text-transform: capitalize;
    font-size: 28px;
}

.campo-label input {
    height: 37px;
    width: 75%;

    padding: 8px;

    border: 1px solid #909090;
    border-radius: 20px;

    background: linear-gradient(136deg, #ffffff1a 0%, #ffffff0b 100%);
    backdrop-filter: blur(15px);    
    box-shadow: 30px 30px 60px 0px #00000080;

    font-size: 16px;
    color: white;
    caret-color: white;
}

.campo-label input:focus-visible {
    outline: 2px solid var(--branco);
}

.campo-label button {
    width: 20%;

    border: 4px solid var(--rosa);
    border-radius: 30%;

    background-color: transparent;
    color: white;
    font-family: var(--font1);
    text-transform: uppercase;
}

.campo-label button:hover {
    background-color: #8a214f;
    cursor: pointer;
}

.campo-label {
    display: flex;
    justify-content: space-between;
}

.lista_servicos_conteudo ul {
    list-style: none;
    padding: 50px 0;
}

.lista_servicos_conteudo li {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

