.servico {
    width: 85%;
    margin: 0 auto;
    padding: 15px;

    border: solid 1px #909090;
    border-radius: 16px;
    background: linear-gradient(136deg, #ffffff1a 0%, #ffffff0b 100%);
    backdrop-filter: blur(15px);

    font-family: var(--font2);
}

.topo_servico {
    width: 100%;

    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;

    font-size: 20px;
}

.topo_servico h3 {
    width: 65%;
}

.servico p {
    margin-bottom: 30px;
}

.servico .techs {
    max-width: 70%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.servico .techs span {
    font-size: 14px;
    padding: 2px 10px;

    margin-right: 20px;
    margin-bottom: 15px;

    border-radius: 20px;
    background-color: var(--rosa);
    color: white;
    font-weight: 600;
}